@inject Microsoft.AspNetCore.Identity.UserManager<Shared.DBModels.ApplicationUser> _userManager;
@model IEnumerable<Shared.DBModels.Restaurant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    td {
        vertical-align: middle !important;
    }
</style>

<h1>Restaurants <span style="color:lightgray;font-size:x-large">- @User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value).FirstOrDefault()</span></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ImageNameWithExtension)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="cursor: pointer;" onclick="location.href='/Restaurants/Details?Id=@item.Id'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
          
            <td>
                @*@Html.DisplayFor(modelItem => item.ImageNameWithExtension)*@
                <img src=".\Images\Restaurants\@item.ImageNameWithExtension" style="max-height:50px; border-radius: 20%" />
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
