@model Shared.DBModels.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyByTheOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReplyByTheOwner)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
